.divParent
{   padding-left: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border: 5px rgba(47, 105, 128, 0.178) groove;
    border-radius: 20px;
    height: 500px;
    width: 500px;
    vertical-align: top;
    overflow: hidden;
}

.divParent:hover
{   
    color: rgb(0, 0, 0);
    background-color: rgba(176, 243, 243, 0.199);
}

.divParent img
{ 
    margin-top: 20px;
    margin-left: 50px;
    width: 350px;
    height: 200px;
    border-radius: 20px;
}

.titre
{
    margin-left: 20px;
}

.articles
{
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
}


  